src/org/tastefuljava/gianadda/meta/folder-meta.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT folder-meta (title,link?,analytics?,pubDate?,tag*,summary?,content?)>
<!ATTLIST folder-meta version CDATA #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT link (#PCDATA)>
<!ELEMENT analytics (#PCDATA)>
<!ELEMENT pubDate (#PCDATA)>
<!ELEMENT tag (#PCDATA)>
<!ELEMENT summary (#PCDATA)>
<!ATTLIST summary type CDATA #REQUIRED>
<!ELEMENT content (#PCDATA)>
<!ATTLIST content type CDATA #REQUIRED>
